
<div class='text-center'>

    <div class="row" ng-if="!myinfoCtrl.isSignedUp">
       Sign up Now!
    </div>

    <div ng-if="myinfoCtrl.isSignedUp">
        <label>First Name</label><br>
        <h4 class="NameField">{{myinfoCtrl.myInfo.firstName}}</h4><br>

        <label>Last Name</label><br>
        <h4 class="NameField">{{myinfoCtrl.myInfo.lastName}}</h4><br>

        <label>Email</label><br>
        <h4 class="EmailField">{{myinfoCtrl.myInfo.email}}</h4><br>

        <label>Phone</label><br>
        <h4 class="MobileField"/>{{myinfoCtrl.myInfo.phone}}</h4><br>

        <label>Favorite Dish</label><br>
        <h4 class="DishField"></h4><br>
    </div>

</div>


